@import url("./styles.css");


.footer {
    width: 100%;
    text-align: center;
    font: x-small;
    background-color: var(--cinereous);
    color: var(--snow);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar-color {
    color: var(--cinereous);
    height: 10vh;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    width: 100%;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--platinum);
    clip-path: circle();

  }

  ::-webkit-scrollbar-thumb {
    background: var(--tea-rose-red);
  }

  ::-webkit-scrollbar-thumb:hover {
    animation: rounded 2s ease-out;
    background: var(--cinereous);
    border-radius: 10px;
  }

@keyframes rounded {
    0% {
        border-radius: 0;
        background-color: var(--tea-rose-red);
    }
    100% {
        border-radius: 10px;
        background-color: var(--cherryblossom);
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.navbar-links {
    display: inline;
    font-size: larger;
}

.navbar-links li h1 {
    display: inline;
}

.navbar-links li {
    display: inline;
    float: left;
}

.navbar-links a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.navbar-links a:hover {
    animation: highlight 600ms ease-in-out;
    
    color: var(--platinum);
}

.navbar-links a:not(:hover) {
    transition: 1s;
}

@keyframes highlight {
    0% {
      color: var(--cinereous);
    }
    100% {
      color: var(--platinum);
    }
  }


a:link {
    color: var(--cinereous);
}

a:visited {
    color: var(--cinereous);
}


.columns-containers {
    content: "";
    display: table;
    clear: both;
    justify-content: baseline;
    position: static;
}

.left-container {
    float: left;
    width: 30%;
    height: 65vh;
    border-radius: 0 20px 20px 0;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--snow);
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    overflow: hidden;
}

.left-container-txt {
    color: var(--cinereous);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 1em;
}

.profile-pic {
    clip-path: circle();
    height: 70%;
    overflow: hidden;
    margin: 15px;
}

.profile-pic img {
    filter: brightness(100%);
}

.profile-pic:not(:hover) img {
    transition: 2s;
}

.profile-pic:hover img {
    filter: brightness(130%);
    transition: transform 1.5s, filter 2s ease-in-out;
    transform: scale(1.1);
}

.right-container {
    float: right;
    width: 65%;
    padding: 15px;
    height: 70vh;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.right-container-txt h3{
    color: var(--cherryblossom);
}

.right-container-txt {
    color: var(--cinereous);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.blog-posts-container {
    background-color: var(--tea-rose-red);
    padding: 5px;
    border-radius: 10px;
    position: relative;
    height: 55vh;
}

.blog-posts {
    border-radius: 10px;
    padding: 10px;
    font-size: 80%;
    display: flex;
    height: calc(55vh - 20px)
}

.blog-posts h1 {
    font-size: 120%;
}

.blog-posts h2 {
    font-size: 90%;
}

.blog-post-preview {
    background-color: var(--snow);
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 4px 4px var(--cherryblossom);
    overflow: hidden;
    width: 33%;
}


.blog-post-preview a:link {
    text-decoration: none;
}

.blog-post-preview:not(:hover) .blog-content-container:not(:hover) {
    transform: translateY(0);
    transition: 0.3s;
}

.blog-post-image-container:not(:hover) {
    transform: translateY(0);
    transition: 0.3s;
}

.blog-content-container {
    margin: 1em;
}

.blog-post-preview:hover .blog-content-container {
    transform: translateY(-6em);
    transition: 0.5s;
}

.blog-post-preview:hover .blog-post-image-container {
    transform: translateY(-6em);
    transition: 0.5s;
}
.blog-post-image-container {
    height: 50%;
}




.post-icon {
    align-items: center;
    height: 100%;
}

.tech-pills {
    align-items: left;
}
.pill {
    display: inline-block;
    padding: 3px;
    background-color: var(--platinum);
    border-radius: 8px;
    text-align: center;
    margin: 1px;
    color: var(--cinereous);
    flex-wrap: wrap;
    text-wrap: wrap;
    font-size: 80%;
}

.down-arrow-container {
    margin-bottom: 10%;
    margin-top: -5%;
}

.down-arrow {
    color: var(--tea-rose-red);
    display: block;
    margin-left: calc((100% - 10px)/2);
    height: 5vh;
    width: 5vw;
    text-align: center;
    padding-bottom: 10vh;
    animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(10px);
        opacity: 0.8;
    }
    to {
        transform: translateY(-10px);
        opacity: 0.3;
    }
}
.down-arrow-svg {
    padding: 5%;
}

.lower-page-container{
    padding-top: 80vh;
}

.tech-stack-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--cinereous);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--platinum);
    padding-top: 5%;
    padding-bottom:5%;
}

.tech-stack-container h3 {
    color: var(--cherryblossom);
    font-size: 1.5em;
}


/* .tech-stack-container li:before {
    font-size: 20px;
    vertical-align: middle;
    line-height: 20px;
} */



.tech-stack-title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--platinum);
    margin-left: 1em;
    font-size: 3em;
    /* -webkit-text-stroke: 1px var(--cinereous); */
    text-shadow: 5px 2px 0 var(--cherryblossom);
}

.languages-list {
    background-color: var(--snow);
    padding: 1.5em;
    text-decoration: none;
    height: 15em;
    border-radius: 20px 0 0 20px;
}

.skills-list {
    background-color: var(--snow);
    border-radius: 0 20px 20px 0;
    height: 15em;
    padding: 1.5em
}

.devtools-list {
    background-color: var(--snow);
    padding: 1.5em;
    height: 15em;
    
}

.tech-stack-flex-item {
    flex: 33%;
    margin: 0.5em;
}

.projects-page-container {
    background-color: var(--cherryblossom);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
    padding-bottom: 5em;
}


.projects-container {  
    padding-top: 2em;
    padding-bottom: 2em;
    overflow-x: scroll;  
    
    background-color: #bd6b6b; 
}

.projects {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    height: 70vh;
    min-width: 500px;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    animation: move 10s infinite alternate-reverse;
    -webkit-animation-timing-function: linear;
    /* -webkit-animation-name: move;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear; */
}

.projects:hover {
    -webkit-animation-play-state: paused;
}


@keyframes move {
    0% {
      margin-left: -20vw;
    }
    100% {
      margin-left: 10px;
    }
  }


.project {
    width: 20vw;
    padding: 1em;
    margin: 0.5em;
    height: 60vh;
    background-color: var(--snow);
    overflow: hidden;
}

.project a {
    text-decoration: none;
}

.project:hover .blog-post-image-container{
    transform: translateY(-90px);
    transition: 0.5s;
}

.project:hover .blog-content-container{
    transform: translateY(-90px);
    transition: 0.5s;
}

.project:not(:hover) .blog-content-container{
    transform: translateY(0);
    transition: 0.3s;
}

.projects-page-container h2 {
    color: var(--cinereous);
    font-size: 3em;
    padding-left: 1em;
    text-shadow: 5px 5px 0 var(--platinum);
}


.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:-1;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    z-index: -1;
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:var(--tea-rose-red);
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }