@import url("./styles.css");


.navbar-color {
    color: var(--cinereous);
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: auto;
    width: 100%;
    display: auto;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


.navbar-links {
    display: inline;
    font-size: larger;
    position: absolute;
}


.navbar-links li h1 {
    display: inline;
}

.navbar-links li {
    display: inline;
    float: left;
}

.navbar-links a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.navbar-links a:hover {
    animation: highlight 600ms ease-in-out;
    
    color: var(--platinum);
}

@keyframes highlight {
    0% {
      color: var(--cinereous);
    }
    100% {
      color: var(--platinum);
    }
  }


a:link {
    color: var(--cinereous);
}

a:visited {
    color: var(--cinereous);
}

.left-container {
    float: left;
    width: 35%;
    margin: 10px 0;
    border-radius: 0 20px 20px 0;
    padding: 20px 0;
    background-color: var(--snow);
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.right-container {
    padding: 20px;
}


.column-container:after {
    content: "";
    display: table;
    clear: both;
}

.left-container-txt {
    padding: 20px;
    color: var(--cinereous);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-pic {
    clip-path: circle();
    height: 320px;
    overflow: hidden;
    margin: 15px;
}
.profile-pic img {
    filter: brightness(100%);
}
.profile-pic:hover img {
    filter: brightness(120%);
    transition: transform 1.5s, filter 3s ease-in-out;
    transform: scale(1.1);
}

.right-container {
    float: right;
    width: 61%;
    border-radius: 20px;    
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.right-container-txt {
    color: var(--cherryblossom);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

.blog-posts-container {
    background-color: var(--tea-rose-red);
    padding: 5px;
    border-radius: 10px;
    
}

.blog-posts {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: small;
    height: 350px;
    display: flex;
}

.blog-posts h1 {
    font-size: 20px;
}

.blog-posts h2 {
    font-size: 10px;
}

.blog-post-preview {
    background-color: var(--snow);
    padding: 10px;
    width: 250px;
    margin: 10px;
    box-shadow: 5px 4px 4px var(--cherryblossom);
    overflow: hidden;
    position: relative;
    justify-content: center;
    transition: 0.5s;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.blog-content-container {
    margin: 10px
}

.blog-post-preview:hover .blog-content-container {
    transform: translateY(-40px);
    transition: 0.5s;
}

.blog-post-preview:hover .blog-post-image-container {
    transform: translateY(-40px);
    transition: 0.5s;
}
.blog-post-image-container {
    height: 200px;
    background-color: black;
    align-items: center;
}




.post-icon {
    align-items: center;
    height: 200px;

}


.tech-pills {
    align-items: left;
}
.pill {
    display: inline-block;
    padding: 3px;
    background-color: var(--platinum);
    border-radius: 8px;
    text-align: center;
    margin: 1px;
    color: var(--cinereous);
    flex-wrap: wrap;
    text-wrap: wrap;
    font-size: 10px;
}